{% extends 'base.html' %}

{% block title %} Agregar Empledo {% endblock title %}

{% block content%}    

    {% include 'include/header.html'%}
    
    <div class = "grid-container">
        <form class = "grid-x  grid-margin-x cell medium-5" method="POST" enctype="multipart/form-data" action = "">
            <h1 class = "cell">Agregar un nuevo Empleado</h1>
            {% csrf_token %}
            <div class = "cell large-6">
                <label>Nombres{{form.first_name}}</label>
            </div>
            <div class = "cell large-6">
                <label>Apellidos{{form.last_name}}</label>
            </div>
            <div class = "cell large-6">
                <label>Trabajo{{form.job}}</label>
            </div>
            <div class = "cell large-6">
                <label>Departamento{{form.departamento}}</label>
            </div>
            <div class = "cell large-6">
                <label>Habilidades{{form.habilidades}}</label>
            </div>
            <div class = "cell large-6">
                <label>Avatar{{form.avatar}}</label>
            </div>
            <p/>
            <div class = "cell large-12">
                <button class = "success button" type = "submit">Enviar</button>
            </div>                        
        </form>
    </div>

{% endblock content%}    