<h1>Buscar Empleados</h1>


<form method="GET">
	{% csrf_token %}
	<input type="text" id = "kword" name = "kword" 
    placeholder = "ingrese nombre"/>
    <button type="submit">Buscar</button>
    
</form>
   
<h2> Lista de Resultados</h2>

{%for e in empleados%}
	
    <li>{{e}}</li>

{%endfor%}