{%extends 'base.html'%}

{% block title %} {% endblock title %}

{% block content%}    

{% include 'include/header.html' %}
<h2>Confirmación de Borrado</h2>
<h3>Empleado: {{ object.full_name }}</h3>

<form method="POST">
    {%csrf_token%}
    <button class = "button alert" type = "submit">Borrar</button>
</form>

{% endblock content%}   
