{% extends 'base.html' %}
{% load static %}


{% block title %} Detalle {% endblock title %}

{% block content%}    

    {% include 'include/header.html'%}

    <div class = "grid-container">
        <div class = "gird-x grid-margin-x align-center">
            <div class="cell card large-4" style="width: 300px;">
                <div class="card-divider">
                    {{object.get_job_display}}
                </div>
                {% if object.avatar %}
                    <img src="{{object.avatar.url}}">
                {% else %}
                    <img src="{% static 'img/inicio/ruleta/01.jpg' %}">
                {% endif %}

                
                <div class="card-section">
                  <h4>{{empleado.full_name}}</h4>
                  <p>{{empleado.departamento.short_name}}</p>
                  <p><span class = "label">Habilidades</span></p>
                  <ul class = "vertical menu">
                  {% for h in empleado.habilidades.all %}
                    <li>{{h.habilidades}}</li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
        </div>
    </div>
    
{% endblock content%}




<div class = "grid-container">    
    <h1>Empleado  <h1>
    <h2 >Detalle {{titulo}}</h2>
    
    <div class = "grid-x">
        <div class = "cell large-6">
            <label>Nombres: {{object.first_name}}</label>
        </div>
        <div class = "cell large-6">
            <label>Apellidos: {{object.last_name}}</label>
        </div>
        <div class = "cell large-6">
            <label>Trabajo: {{object.job}}</label>
        </div>
        <div class = "cell large-12">
            <label>Departamento: {{object.departamento}}</label>
        </div>
        <div class = "cell large-12">
            <label>Habilidades: {{object.habilidades}}</label>
        </div>
    </div>
</div>