{% extends 'base.html' %}

{% block title %} Lista de Empleados Admin{% endblock title %}


{% load static %}



{% block content%}    

{% include 'include/header.html'%}


<div class = "grid-x">
  <div class = "cell">
    <a class="button primary" href="{% url 'persona_app:agregar_empleado' %}">Agregar Empleado</a>
  </div>
    <div class = "cell">
        
        <table>
            <thead>
              <tr>
                <th width="200">ID</th>
                <th>Nombre</th>
                <th width="150">Apellidos</th>
                <th width="150">Completo</th>
                <th width="150">Departamento</th>
                <th width="150">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for e in empleados %}
    	        <tr>
                <td>{{e.id}}</td>
                <td>{{e.first_name}}</td>
                <td>{{e.last_name}}</td>
                <td>{{e.full_name}}</td>
                <td>{{e.departamento}}</td>
                <td><a class="button Primary" href={% url 'persona_app:modificar_empleado' e.id %}>Editar</a></td>
                <td><a class="button Alert" href={% url 'persona_app:borrar_empleado' e.id %}>Borrar</a></td>
                </tr>                
            
                {%endfor%}
                
              
            </tbody>
          </table>
   
    </div>
    <div class = "cell">
      {% if is_paginated %}
      <nav aria-label="Pagination">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="pagination-previous">
              <a href = "?page={{page_obj.previous_page_number}}">Atras</a>
            <span class="show-for-sr">page</span></li>          
          {% endif %}
          {% for pagina in paginator.page_range %}
            {% ifequal pagina page_obj.number %}              
              <li class="current"><span class="show-for-sr"></span> 
                <a href="?page={{pagina}}" aria-label="Page">{{pagina}}</a>
              </li>
            {% else %} 
              <li><a href="?page={{pagina}}" aria-label="Page">{{pagina}}</a></li>
            {% endifequal %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="pagination-next"><a href="?page={{page_obj.next_page_number}}" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
            {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
</div>    



{% endblock content%}  
