{% extends 'base.html'%}

{% block title %} Modificar Empleado {% endblock title %}


{% block content%}    

{% include 'include/header.html'%}
        

<form class = "grid-container" method="POST" enctype="multipart/form-data"> 
    <h1>Modificando el Emplado.</h1>
    {%csrf_token%}
    <div class = "grid-x grid-margin-x ">
        <div class = "cell large-6">
            <label>Nombres : 
                {{form.first_name}}
            </label>
        </div>
        <div class = "cell large-6">
            <label>Apellidos : 
                {{form.last_name}}
            </label>
        </div>        
        <div class = "cell large-6">
            <label>Trabajo : 
                {{form.job}}
            </label>
        </div>        
        <div class = "cell large-6">
            <label>Departamento : 
                {{form.departamento}}
            </label>
        </div>        
        <div class = "cell large-6 medium-12 small-12">
            <label>Habilidades : 
                {{form.habilidades}}
            </label>
        </div>   
        <div class = "cell large-6 medium-12 small-12">
            <label>Avatar : 
                {{form.avatar}}
            </label>
        </div>       
    </div>
    <button class = "button" type = "submit">Guardar</button>
</form>

{% endblock content%}   