
<h1>Lista de Autores</h1>

<p>
    <form method="GET">{% csrf_token %}
        <input type = "text" 
        id = "filtro" 
        name = "filtro"
        placeholder ="Ingrese nombre"/>
        <button type = "submit" >Consultar</button>
    </form>
</p>


<lu>
{% for autor in autores%}
    <li>
    {{autor}} 
    </li>
{% endfor %} 
</lu>