<h1>Nuevo Departamento</h1>

<form method="POST">
    {% csrf_token %}
    <h1>Datos del Departamento</h1>    
    <p>Depa : {{form.departamento}}</p>
    <p>Corto : {{form.corto}}</p>
    <h1>Datos del Empleado</h1>
    <p>Nombre : {{form.nombre}}</p>
    <p>Apellidos : {{form.apellidos}}</p>

    <button type = "submit">Guardar</button>
</form>
