{% load static %}

<html>
    <head>
        <link rel = "stylesheet" href = "{% static 'css/foundation.min.css' %}">         
        <title>{% block title %} {% endblock title %}</title>
    </head>

    
    <body>
        {% block content%}    
        {% endblock content%}    

        
        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/vendor/what-input.js' %}"></script>
        <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
        <script>
          $(document).foundation();
        </script>

        
    </body>
    
</html>

