{% extends 'base.html'%}
{% load static %}

{% block title %} Inicio {% endblock title %}
{% block content%}    
{% include 'include/header.html'%}

<!-- INICIO DE ORBIT -->

<div class="orbit cell large-10" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">
      <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      </div>
      <ul class="orbit-container">
        <li class="is-active orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="{%static 'img/inicio/ruleta/01.jpg'%}" alt="Space">
            <figcaption class="orbit-caption">Space, the final frontier.</figcaption>
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="{%static 'img/inicio/ruleta/02.webp'%}" alt="Space">
            <figcaption class="orbit-caption">Lets Rocket!</figcaption>
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="{%static 'img/inicio/ruleta/03.jpg'%}" alt="Space">
            <figcaption class="orbit-caption">Encapsulating</figcaption>
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="https://placehold.it/1200x600/666&text=Slide-4" alt="Space">
            <figcaption class="orbit-caption">Outta This World</figcaption>
          </figure>
        </li>
      </ul>
    </div>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0">
        <span class="show-for-sr">First slide details.</span>
        <span class="show-for-sr" data-slide-active-label>Current Slide</span>
      </button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
      <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    </nav>
  </div>


  <!-- FIN DE ORBIT -->
    <div class = "grid-x align-center">
        <h1 class = "cell" style = "font-size: 50px; text-align: center;">Bienvenido</h1>
        <div class = "grid-x cell large-3 medium-3 small-3">
            <div class="callout success">
                <h5>This is a secondary callout</h5>
                <p>It has an easy to override visual style, and is appropriately subdued.</p>
                <a href="#">It's dangerous to go alone, take this.</a>
            </div>
        </div>
    </div>
  <!-- INICIO de BIENVENIDA -->

  

  <!-- FIN de BIENVENIDA -->


  
{% endblock content%}   