{% load static %}

<html>
    <head>
        <link rel = "stylesheet" href = "{% static 'css/foundation.min.css' %}">     
    
    </head>

    
    <body style = "border:10px solid blue">



        {% block menu%}    
        {% endblock menu%}    
        {% include 'laboratorio/secciones/header.html'%}
        <div class = "cell callout success">
            {% block bloqueA%}    
            {% endblock bloqueA%}    
        </div>
        <div class = "cell callout secondary">
            {% block bloqueB%}    
            {% endblock bloqueB%}    
        </div>
        {% include 'laboratorio/secciones/footer.html'%}


        
        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/vendor/what-input.js' %}"></script>
        <script src="{% static 'js/vendor/foundation.min.js' %}"></script>
        <script>
          $(document).foundation();
        </script>

        
    </body>
    
</html>


