
<div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text"><a href= "{% url 'persona_app:home'%}">Home</a> </li>
        <li>
          <a href= "{% url 'persona_app:empleados_todos'%}">Listar</a>          
            <li><a href="#">Departamentos</a></li>
            <li><a href="{% url 'persona_app:empleados_admin'%}">Administrar</a></li>                      
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><input type="search" placeholder="Buscar Empleado"></li>
        <li><button type="button" class="button">Buscar</button></li>
      </ul>
    </div>
  </div>