<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index ver A01</title>
  </head>
  <body>
    {% if question %}
    <ul>
    {% for choice in question.choice_set.all %}
        <li>{{choice.choice_text}} - {{choice.votes}} voto{{choice.votes|pluralize}} </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No existe esta pregunta.</p>
{% endif %}

<a href="{% url 'polls:detail' question.id  %}"> Votas otra vez?</a>

  </body>
</html>