<!-- head para PC -->
{% extends "home/base_home.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <!-- primer bloque del home -->
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <!-- bloque de blog principal -->
        <div class="cell small-12 large-6">
            <div class="card" style="width: 100%;">
                <img src="{{ portada.image.url }}">
                <div class="card-section">
                  <h4><a href = {%url 'entrada_app:entry-detalle' portada.id %}> 
                        {{ portada.title }}
                    </a> 
                    </h4>
                  <p>{{ portada.resume}}</p>
                </div>
            </div>
        </div>
        <!-- FIN bloque de blog principal -->
        <!-- bloque de blog principal -->
        <div class="cell small-12 large-6 grid-x grid-margin-x">
        {%for por in portadas%}            
        
            <div class="cell small-12 large-6">
                <div class="card" style="width: 100%;">
                    <img src="{{ por.image.url }}" style = "height: 120px; width: 50%;">
                    <div class="card-section">
                      <h5>
                        <a href = {%url 'entrada_app:entry-detalle' por.id %}> 
                            {{por.title}}
                        </a> 
                      </h5>
                    </div>
                </div>
            </div>
        
        <!-- FIN bloque de blog principal -->
        {%endfor%}
        </div>
        
    </div>
    <!-- FIN del primer bloque home -->

    <!-- segundo bloque pantalla home -->
    <div class="grid-x align-center" style="margin-top: 1em;">
        <div class="cell small-12 large-10 callout secondary">
            <h5>Conoce mas de nostros:</h5>
            <p>
                {{home.about_text}}
            </p>

            <p>
                <button class="button" data-open="exampleModal2">Suscribirme</button>
            </p>

            <!-- This is the first modal -->
            <div class="reveal" id="exampleModal2" data-reveal style="width: 300px;">
                <p class="lead">Ingresa tu correo</p>
                <form class="grid-x grid-margin-x" method="POST" action = "{%url 'home_app:add-suscriptor'%}">{%csrf_token%}
                    <div class="cell small-12">
                        {{form.as_p}}
                    </div>
                    <div class="cell small-12">
                        <button type = "submit" class="success button">Suscribirme</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- FIN segundo bloque pantalla home -->


    <!-- tercer bloque home -->    
    <div class="grid-x grid-margin-x align-center">        
        <h3 class="cell">Articulos Recientes:</h3>
        {%for ult_entrada in ultimas_entradas%}  
        <div class="cell small-6 large-4">
            <div class="card" style="width: 100%;">
                <img src="{{ult_entrada.image.url}}">
                <div class="card-section">
                  <h4>
                    <a href = {%url 'entrada_app:entry-detalle' ult_entrada.id %}> 
                        {{ ult_entrada.title }}
                    </a> 
                  </h4>
                  <p>{{ult_entrada.resume | truncatechars:100}}</p>
                </div>
            </div>
        </div>
        {%endfor%}  
        
    </div>
    <!-- FIN tercer bloque -->
</div>
{% include "includes/footer.html" %}

{% endblock content %}