{% load static %}
    <footer style = "background-color: orange;">
        <ul class = "vertical medium-horizontal menu">
            <li><a href ="#0"><i class "fi-list"><span>One</span></i></a> </li>
            <li><a href ="#0"><i class "fi-list"><span>Two</span></i></a> </li>
            <li><a href ="#0"><i class "fi-list"><span>Three</span></i></a> </li>
            <li><a href ="#0"><i class "fi-list"><span>Four</span></i></a> </li>
        </ul>
    </footer>