
<h1>Lista de Libros</h1>

<p>
    <form method="GET">{% csrf_token %}
        <input type = "text" 
        id = "filtro" 
        name = "filtro"
        placeholder ="Ingrese nombre"/>

        <input type = "date" 
        id = "fecha1" 
        name = "fecha1"/>

        <input type = "date" 
        id = "fecha2" 
        name = "fecha2"/>
        <button type = "submit" >Consultar</button>
    </form>
</p>


<lu>
{% for libro in libros%}
    <li>
    {{libro}} 
    </li>
{% endfor %} 
</lu>
