{%load static%}
<html>
    <head>
        <link rel = 'stylesheet'  href = "{%static 'css/foundation.css'%}">                 
        
    </head>
    <body>
        <h1>Ejemplo de Grid de Templates</h1>

        <div class = "grid-x" style = 'border:1px solid green;'>
            <h2 class = "cell large-4"  style = 'border:1px solid blue;'>Elemento 1</h2>
            <h2 class = "cell large-2"  style = 'border:1px solid red;'>Elemento 2</h2>
            <h2 class = "cell large-6"  style = 'border:1px solid yellow;'>Elemento 3</h2>
            <div class = "cell large-12 grid-x" style = 'border:5px solid pink;'>
                <h2 class = "cell large-3"  style = 'border:1px solid blue;'>Elemento 1</h2>
                <h2 class = "cell large-4"  style = 'border:1px solid red;'>Elemento 2</h2>
            </div>
        </div>


    </body>
</html>

