{% load static %}

<html leng="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
</head>    
</html>

<h1 class = "ejemplo01">Crear una Prueba</h1>

<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Guardar</button>
</form>