<div class="callout secondary">
    <div class="grid-x align-center">
        <h3 class="cell small-12 large-7">Formulario de Contacto:</h3>
        <form class="cell small-12 large-7" method="POST" action="{% url 'home_app:add-contacto' %}">
          {%csrf_token%}
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                  <label>Nombres
                    <input type="text" placeholder="nombres..." name = "full_name" id = "id_full_name">
                  </label>
                </div>
                <div class="medium-6 cell">
                  <label>Correo
                    <input type="email" placeholder="Correo ..." name = "email" id = "id_email">
                  </label>
                </div>
                <div class="medium-12 cell">
                    <label>Mensaje
                        <textarea placeholder="Mensaje"  name = "message" id = "id_message" ></textarea>
                    </label>
                </div>
                <div class="medium-12 cell">
                    <button type="submit" class="success button">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>





<div class="grid-x grid-margin-x">
  <div class="cell auto"></div>
  <div class="cell large-4">
    <span class="label warning"><i class="fi-x"></i> {{correo}}</span>
    <span class="label"><i class="fi-widget"></i> {{phone}}</span>
  </div>
  <div class="cell auto"></div>
</div>