<header>
    <div class="grid-x grid-margin-x header">
        <div class="cell small-12 medium-4 large-3">
            <a href="#" style="font-size: 20px; color: #0277bd;">
                Neunapp Blog
            </a>
        </div>
        <div class="cell small-12 medium-4">
            
        </div>
        <div class="cell small-12 large-5">
            <ul class="menu" style="justify-content: flex-end;">
                <li>
                    <a href="{%url 'home_app:plantilla' %}">Home</a>
                </li>
                <li>
                    <a href="{%url 'entrada_app:entry-lista'%}">Blog</a>
                </li>
                <li>
                    <a class="success button">Acceder</a>
                </li>
                
            </ul>
        </div>
    </div>
</header>