<!-- head para PC -->
{% extends "plantillas/base_plantilla.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <h3 class="cell">{{entry.title}}</h3>

        <!-- bloque de contenido del articulo -->
        <div class="cell large-8">
            <div class="cell callout primary">
                <h5>Resumen:</h5>
                <p>{{entry.resume}}</p>
            </div>
            <div>
                {{entry.content | safe}}
            </div>
        </div>
        <!-- FIN bloque contenido del articulo -->

        <!-- bloque llamada a la accion -->
        <div class="cell large-4">
            <div class="card" style="width: 100%;">
                <img src="{{entry.image.url}}">
                <div class="card-section" style="width: 100%;">
                  <div class="blog-action">
                    <a class="button alert" href="#">Agregar a Favoritos</a>
                  </div>
                </div>
            </div>
        </div>
        <!-- FIN bloque llamada a la accion -->

    </div>
</div>
{% include "includes/footer.html" %}

{% endblock content %}