<!-- head para PC -->
{% extends "entrada/base_entrada.html" %}
{% load  static %}

{% block content %}

{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x grid-margin-x" style="margin-top: 1em;">
        <!-- primer bloque pantalla blog -->
        <div class="cell small-12 large-10 medium-12">
            <!-- bloque de buscador -->
            <form class="input-group" method="GET">{% csrf_token %}
                <input class="input-group-field" type="text" id = "kword" name = "kword" placeholder="Buscar ...">
                <div class="input-group-button">
                  <input type="submit" class="button" value="Buscar">
                </div>
            </form>
            <!-- FIN bloque de formulario -->

            <!-- inicio bloque de resultados de busqueda -->
            <div class="grid-x grid-padding-x small-up-1 medium-up-2 large-up-4"
                                data-equalizer data-equalize-by-row="true">
                {%for entrada in entradas%}
                <div class="cell" data-equalizer-watch>
                    <div class="card" style="width: 100%;">
                        <img src="{{entrada.image.url}}">                        
                        <div class="card-section">
                          <h4>
                              
                              <a href = {%url 'entrada_app:entry-detalle' entrada.id %}> 
                                {{entrada.title}}
                            </a> 
                            </h4>
                          <p>{{entrada.resume |truncatechars:100}}</p>
                        </div>
                    </div>
                </div>            
                {%empty%}       
                <h4>No hay resultados</h4>
                {%endfor%}           
            </div>
            <!-- FIN bloque de resultados de busqueda -->

        </div>
        <!-- FIN primer bloque pantalla blog -->


        <!-- inicio del segundo bloque - categorias -->
        <div class="cell small-12 large-2" style="height: 500px;">
            <h4>Categorias</h4>
            <ul class="vertical menu">
                {%for categoria in categorias%}
                <li><a href="?categoria={{categoria.short_name}}">{{categoria.short_name}}</a></li>  
                {%endfor%}              
            </ul>
        </div>
        <!-- FIN inicio del segundo bloque - categorias -->
    
    </div>
    
    <!-- inicio de bloque de paginacion -->
    {%if is_paginated%}
    
    <nav aria-label="Pagination">
        
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="pagination-previous disabled">
            <a href = "?page={{page_obj.previous_page_number}}">Atrás</a>   
            <span class="show-for-sr">page</span></li>
          {% endif %}
          {% for pagina in paginator.page_range %}            
            {% ifequal pagina page_obj.number  %} 
                <li class="current">
                    <span class="show-for-sr">You're on page</span>                     
                        {{pagina}}
                    </a>
                </li>    
            {% else %}    
                <li>
                    <a href="?page={{pagina}}" aria-label="Página {{pagina}}">{{pagina}}                        
                    </a>
                </li>
            {% endifequal %}
                             
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="pagination-next">
              <a href="?page={{page_obj.next_page_number}}" aria-label="Next page">
                 Siguiente
                <span class="show-for-sr">page</span>
            </a>
        </li>
          {% endif %}
        </ul>
    </nav>
    {%endif%}
    <!-- FIN bloque de paginacion -->
    
</div>
{% include "includes/footer.html" %}

{% endblock content %}